* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @font-face {
      font-family:Lato;
      src: url(Assets/fonts/Lato-Black.ttf);
    }
  }
  
  body {
    height: 100vh;
    font-family: Lato;
  }
  a{
    text-decoration: none;
    color: gray;
  }
  
  /*********************
           NAV
  **********************/
  .background-img {
    background-image: url(Assets/img/clair.jpg);
    background-size:cover ;
    background-position: center;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 10vw;
    padding-top: 4vh;
  }
  
  nav ul li {
    list-style-type: none;
    text-align: center;
    margin-right: 3vw;
    color: white;
    font-size: 25px;
   
  
  }
  /******************
        1ER LI
  ******************/
  .button {
    padding: 1vh 2vw;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: gray;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 5vh;
    
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  /******************
        2EME LI
  ******************/
  .button2:hover {
    padding: 1vh 2vw;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: gray;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 5vh;
    
  }
  .button2 li:hover { 
      background-color: #666;
      border-width: 1px;
      display: block;
      height: 28vh;
      width: 28vw;
      transition: width 0.5s, height 0.5s, transform 1s;
  }
  
  /******************
        3EME LI
  ******************/
  .button3 {
    position: relative;
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 1vh 1vw;
    color: #FFFFFF;
    height: 5vh;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button3:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button3:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  /******************
        4EME LI
  ******************/
  .button4 {
    background-color: white;
    border: none;
    color: gray;
    text-align: center;
    font-size: 20px;
    padding: 1vh 2vw;
    opacity: 1;
    transition: 0.3s;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 5vh;
  
  }
  .button4:hover {
    transition: all 2s;
    opacity: 0.2;
    
  }
  .logo img {
    margin-left: 5vw;
    padding-bottom: vh;
    height: 10vh;
  }
  
  /******************
  SECTION PROJETS 
  ******************/
  .projets{
    background-color: white;
    background-size:cover;
    background-position: center;
    padding: 2vh 0 2vh 0;
    height: 80%;
  }
  .projets h1 {
    text-align: center;

  }
  .parcours{
    background-image: url(Assets/img/clair.jpg);
    background-size:cover ;
    background-position: center;
    width: 50%;
    margin: 3vh 0 8vh 25vw;
    padding-top: 2vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 8px gray;
    
  }
  .parcours p{
    background-color: rgb(221, 219, 219);
    font-size: 17px;
    border-radius: 10px;
  }

 /********************
   CONTAINER
 ********************/
  .container {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    // height: 10vh;
    
  } 
  .container p {
    height: auto;
    width: 50%;
    margin: 2vh 0 2vh 25vw;
  }
  .container .photo a{
    text-decoration: none;
    display:grid;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5vh;
  }
  .photo img:hover { 
    // border-style: solid;
    border-width: 1px;
    display: block;
    height: 28vh;
    width: 28vw;
    transition: width 0.5s, height 0.5s, transform 1s;
}

  .photo img {
    height: 25vh;
    width: 25vw;
    border-radius: 10px;
    box-shadow: 6px 6px 6px gray;
  }
  .photo {
    text-align: center;
    height: 30vh;
  }
  /******************
  SECTION MEDIAS 
  ******************/
  .medias {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    text-align: center;
    justify-content: space-around;
    margin-top: 2vh;
  }
  
  .vhs{
    padding-top: 10px;
  }
  
  
  
  /******************
      FOOTER
  ******************/
  footer{
    background-image: url(Assets/img/clair.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 20vh;
    justify-content: center;
    justify-content: space-around;
    padding-top: 2vh;
    
  }
  footer ul{
    display: flex;
    margin: 6vh 0 0 2vw;
  
  }
  footer ul img{
    height: 18px;
    
  }
 footer ul li{
    list-style-type: none; 
    margin: 1vh 1vw; 
 }
 summary{
  height: 1px;
 }
 .details{
  display: inline-block;
 }
 .details ul li{
  font-size: 24px;
 }
 /********************
     TABLES
********************/

.table1{
  border: 3px solid black;
  text-align: center;
  width: 50%;
  margin: 2vh 0 0 25vw;
}

th{
  border: 1px solid black;
}

td{
  border: 1px solid black;
}
td img{
  height: 100px;
  width: 100%;
  display: flex;
}
.table2{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 2vh 0 0 25vw;
}
.table2 table{
  border: 3px solid black;
  width: 50%;
}

summary:hover{
  color: red;
  cursor:pointer;
}
