* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @font-face {
      font-family:Lato;
      src: url(Assets/fonts/Lato-Black.ttf);
    }
  }
  
  body {
    height: 100vh;
    font-family: Lato;
    
  }
  h1,h2,h3,h4,h5,h6{
    color: white;
  }
  a{
    text-decoration: none;
    color: white;
  }
  
  /*********************
           NAV
  **********************/
  .background-img {
    background-color:rgba(20,37,44,255) ;
  }
  nav ul {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 45vw;
    padding-top: 4vh;
  }
  
  nav ul li {
    
    list-style-type: none;
    text-align: center;
    margin-right: 2vw;
    width: 18%;
    color: white;
    font-size: 20px;
  }
  .button{
    width: 10%; 
    border-radius: 10px;
    width: 100%;
    
  }
  .button a{
    color: rgb(249, 249, 249);
    width: 100%;
    
  }
  .btn-hover{
    transition: 1s;
    
  }
  .btn-hover:hover{
    transform: scale(1.2);
  }
  .btn-about{
    transition: 1s;
    background-color: rgbargba(29,43,43,255);
    
  }
  .btn-about:hover{
    background-color: gray;
  }
  .btn-portfolio a{
    border-radius: 10px;
    height: 3vh;
    transition: 1s;
  }

  .btn-portfolio a:hover{
    color: red;
   
  }
 
  .btn-videos a{
    border-radius: 10px;
    height: 3vh;
    margin-right: 4vh;
  }
  .btn-videos a:hover{
    transition: 1s;
    color: gold;
    
  }
 
.logo img {
    margin-left: 5vw;
    height: 8vh;
   
  }
  
  /******************
  SECTION PROJETS 
  ******************/
  .projets{
    background-image: url(Assets/img/night.jpg);
    background-size:cover ;
    background-position: center;
    padding: 2vh 0 2vh 0;
    height: 80%;
  }
  .projets h1 {
    text-align: center;

  }
  .parcours{
    width: 50%;
    margin: 3vh 0 8vh 25vw;
    padding-top: 2vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 9px rgba(58, 58, 58, 0.854);
    
  }
  .parcours p{
    color: white  ;
    font-size: 17px;
    border-radius: 10px;
  }

 /********************
   CONTAINER
 ********************/
  .container {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    // height: 10vh;
    
  } 
  .container p {
    height: auto;
    width: 50%;
    margin: 2vh 0 2vh 25vw;
  }
  .container .photo a{
    text-decoration: none;
    display:grid;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5vh;
  }
  .photo {
    text-align: center;
    height: 30vh;
  }
   .photo img {
    height: 25vh;
    width: 25vw;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgb(59, 59, 59);
    transition: 1.5s;
  }
    .photo img:hover { 
    transform: scale(1.3,1.3) ;
    border: 1px dashed white;
    box-shadow: 1px 1px 10px white;
  }
  /******************
  SECTION MEDIAS 
  ******************/
  .medias {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    text-align: center;
    justify-content: space-around;
    margin-top: 2vh;
    
  }
  
  .vhs{
    padding-top: 10px;
  }
  
  
  
  /******************
      FOOTER
  ******************/
  footer{
    background-image: url(Assets/img/clair.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 19vh;
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 2vh;
    
  }
  footer ul{
    display: flex;
    margin: 6vh 0 0 2vw;
  
  }
  footer ul img{
    height: 18px;
    
  }
 footer ul li{
    list-style-type: none; 
    margin: 1vh 1vw; 
 }
 footer details ul{
  display: block;
 }
 footer details ul li{
  margin-top: -12px;
  
  
 }

 /********************
     TABLES
********************/

.table1{
  border: 3px solid black;
  text-align: center;
  width: 50%;
  margin: 2vh 0 0 25vw;
}

th{
  border: 1px solid black;
}

td{
  border: 1px solid black;
}
td img{
  height: 100px;
  width: 100%;
  display: flex;
}
.table2{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 5vh 0 0 25vw;
}
.table2 table{
  border: 3px solid black;
  width: 50%;
}
summary{
  height: 1px;
  
 }
 summary:hover{
  color: red;
  cursor:pointer;
}
 .details{
  display: inline-block;
  
 }
 .details ul li{
  font-size: 24px;
 }


