*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
/* div{   
    width: 100%;
    align-items: center;   
} */
.js h2{
    text-align: center;
    margin-top: 2vh; 
}
.js a img{
   height: 10vh;
   margin: 1vh 0 0 48vw;
}
.js p{
    text-align: center;
    margin-top: 2vh; 
}
.php h2{
    text-align: center;
    margin-top: 2vh; 
}
.php a img{
    height: 10vh;
    margin: 1vh 0 0 47vw;
}
.php p{
    text-align: center;
    margin-top: 2vh; 
}